@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <link href="~/Content/index.css" rel="stylesheet" type="text/css" />
    <title>Home</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="Index.cshtml">Home</a></li>
                <li><a href="Index.cshtml">Comic Books</a></li>
                <li><a href="Index.cshtml">Top 10 List</a></li>
            </ul>
        </nav>
    </header>
</body>
</html>

