@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
</head>
<body>
    <header>
        <ul>
            <li>Home</li>
            <li>Comic Books</li>
            <li>Top 10 List</li>
        </ul>
    </header>
</body>
</html>

